<div class="admin-layout">

  <aside class="sidebar">
    <div class="sidebar-header">
      <div class="logo-box">
        <i class="fas fa-layer-group"></i>
      </div>
      <div class="brand-text">
        Quiz<span class="highlight">Admin</span>
      </div>
    </div>

    <div class="sidebar-menu custom-scrollbar">
      <div class="menu-label">TỔNG QUAN</div>
      <a routerLink="/admin/dashboard" routerLinkActive="active"
        class="menu-item">
        <span class="icon"><i class="fas fa-th-large"></i></span>
        <span class="text">Dashboard</span>
      </a>

      <div class="menu-label">QUẢN LÝ HỆ THỐNG</div>
      <a routerLink="/admin/users" routerLinkActive="active"
        class="menu-item">
        <span class="icon"><i class="fas fa-users"></i></span>
        <span class="text">Người dùng</span>
      </a>
      <a routerLink="/admin/bo-cau-hoi" routerLinkActive="active"
        class="menu-item">
        <span class="icon"><i class="fas fa-book-open"></i></span>
        <span class="text">Bộ câu hỏi</span>
      </a>
      <a routerLink="/admin/tran-dau" routerLinkActive="active"
        class="menu-item">
        <span class="icon"><i class="fas fa-trophy"></i></span>
        <span class="text">Trận đấu</span>
      </a>
      <a routerLink="/admin/khoa-hoc" routerLinkActive="active"
        class="menu-item">
        <span class="icon"><i
            class="fas fa-graduation-cap"></i></span>
        <span class="text">Khóa học</span>
      </a>
      <a routerLink="/admin/community" routerLinkActive="active"
        class="menu-item">
        <span class="icon"><i
            class="fas fa-users-rectangle"></i></span>
        <span class="text">Cộng đồng</span>
      </a>

      <div class="spacer"></div>

      <div class="menu-label">TÀI KHOẢN</div>
      <a (click)="logout()" class="menu-item logout">
        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
        <span class="text">Đăng xuất</span>
      </a>
    </div>
  </aside>

  <div class="main-wrapper">

    <header class="top-header">
      <div class="search-box">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Tìm kiếm (Ctrl + K)...">
      </div>

      <div class="header-controls">
        <button class="btn-icon notification">
          <i class="far fa-bell"></i>
          <span class="dot"></span>
        </button>

        <div class="profile-dropdown">
          <div class="info">
            <span class="name">{{ displayName || 'Admin' }}</span>
          </div>
          @if (user){
          <img [src]="getAvatar()" alt="Avatar">
          }
        </div>
      </div>
    </header>

    <main class="page-content">
      <router-outlet></router-outlet>
    </main>

  </div>
</div>