@use '@ctrl/ngx-emoji-mart/picker';

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color); /* <-- Đặt màu nền cho toàn trang tại đây */
  color: var(--secondary-color);
  margin: 0;
}
